<html lang="en">
<head>
 
  {% load static %}
  {% include 'includes.html' %}
  
</head>
<body>
    {% include 'attendee/menu.html' %}

<div class="container mt-2 ">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header bg-info">
                    <h3 class="text-center">User Profile</h3>
                </div>
                <div class="card-body">
                    <form action="/update_attendee_user/" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12  mb-3 text-center">
                                <img src="{% static 'uploads/' %}{{ user.userPic }}" alt="" class="rounded-circle" style="width:100px;height:100px">
                            </div>

                        </div>
                        <div class="row">
                        <div class="col-sm-6  mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" value="{{user.firstName}}" required>
                        </div>
                        <div class="col-sm-6    mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName"  value="{{user.lastName}}" required>
                        </div>
                        <div class="col-sm-6  mb-3">
                            <label for="course" class="form-label">Course</label>
                            <input type="text" class="form-control" id="course" name="course"  value="{{user.course}}" required>
                        </div>
                        <div class="col-sm-6  mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" readonly>
                        </div>
                        <div class="col-sm-6  mb-3">
                            <label for="mobile" class="form-label">Mobile</label>
                            <input type="tel" class="form-control" id="mobile" name="mobile"  value="{{user.mobile}}" required>
                        </div>
                        <div class="col-sm-6  mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password"  value="{{user.password}}" required>
                        </div>
                        
                         <div class="col-sm-6 mb-3">
                            <label for="userType" class="form-label">User Type</label>
                            <select class="form-select" id="userType" name="userType" required>
                                <option>{{user.userType }}</option>
                                <option>Organizer</option>
                                <option>Attendee</option>
                            </select>
                        </div>

                       


                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">UPDATE</button>
                        </div>
                    </div>
                    </form>

                    <div class="container mt-5">
                        
                        {% if messages %}
                          <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                              {{ message }}
                            {% endfor %}
                          </div>
                        {% endif %}
                        
                        
                      </div>


                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

</body>
</html>
