<html lang="en">
  <head>
    {% load static %}
    {% include 'includes.html' %}
  </head>
  <body>
    {% include 'attendee/menu.html' %}
    <div class="container mt-5">
        <h2>Event and Feedback List</h2>
        {% for entry in event_feedback_data %}
        
        <table class="table table-striped" id='table_id'>
            <thead>
                <tr>
                    <th>Feedback ID</th>
                    <th>EventTitle</th>
                    <th>Feedback Date</th>
                    <th>Feedback</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for feedback in entry.feedbacks %}
                <tr>
                    <td>{{ feedback.feedbackId }}</td>
                    <td>{{ entry.event.eventTitle }}</td>
                    <td>{{ feedback.feedbackDate }}</td>
                    <td>{{ feedback.feedback }}</td>
                    <td>{{ feedback.rating }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
            } );
        </script>
</body>
</html>
